<nav>
    <a routerLink="homepage"><img class="logo" src="assets/images/logo.png" alt=""></a>
    <div class="rightSection">
        <a class="links" routerLink="/homepage">Homepage</a>
        <a class="links" routerLink="/aboutUs">Chi siamo</a>
        <a class="links" routerLink="/contact">info e contatti</a>
        <a class="links" routerLink="projects">Progetti</a>
        <a class="links" routerLink="publications">pubblicationi</a>
        <a class="links" routerLink="workWithUs">lavora con noi</a>
        <a class="links" routerLink="news">Social</a>
    </div>
    <div id="hamb">
        <button id="hambButton" (click)="check()">{{hamb}}</button>
    </div>
</nav>
<div class="menuBox" [class.hidden]="!checked">
    <div id="menuContainer" (click)="check()">
        <a class="hambSection" routerLink="homepage">Homepage</a>
        <a class="hambSection" routerLink="aboutUs">Chi siamo</a>
        <a class="hambSection" routerLink="contact">info e contatti</a>
        <a class="hambSection" routerLink="projects">Progetti</a>
        <a class="hambSection" routerLink="publications">pubblicationi</a>
        <a class="hambSection" routerLink="workWithUs">lavora con noi</a>
        <a class="hambSection" routerLink="news">Social</a>
    </div>
</div>