<footer>
    <div id="testo">
        LVL Architettura S.r.l. P.IVA 04074470289
        <a href="mailto:studio@lvlarchitettura.com">studio@lvlarchitettura.com </a><br>
        I-35129 PADOVA - Net Center - via San Marco, 11/c Tel +39 049 8077247 Fax +39 049 7808436<br>
        CH-6900 LUGANO MASSAGNO - via San Gottardo, 92 Tel +41 91 9600606 Fax +41 91 9600666<br>
        © 2022 LVL Architettura. Tutti i diritti riservati.
    </div>
    
    <div id="socials">
        <a href="mailto:lucianoschiavon@lvlarchitettura.com ">Inviaci un'email</a>
        <div id="socialsTitle"> Seguici su tutti i social:</div>
        <div class="socialLink"> <a href="https://www.instagram.com/lvl_architettura/" class="fa fa-instagram"> </a> Instagram: @lvlarchitettura</div>
        <div class="socialLink"><a href="https://www.instagram.com/lvl_architettura/"  class="fa fa-linkedin"> </a> Linkedin: @lvlarchitettura </div>
        <div class="socialLink"><a href="#" class="fa fa-facebook"></a> Facebook: lvlarchitettura </div>
    </div>
</footer>