<div id="intr">
    <div>
        <img id="title" src="assets/images/logo.png" alt="">
        <h2 id="subtitle">studio di architettura di Luciano Schiavon</h2>
        <h2 id="subtitle">Via S. Marco, 11/c, 35129 Padova PD</h2>
        <h2 id="subtitle">Email: studio@lvlarchitettura.com</h2>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-facebook"></a>
        <!--
        <div id="callToAction">
            <button class="mainButton">CHI SIAMO ></button>
            <button class="mainButton">CONTATTACI ></button>
        </div>-->
        
    </div>

    <img id="sketch" src="assets/images/sketch.jpg" alt="">
</div>



<div id="test">
    <app-chisiamo-preview></app-chisiamo-preview>
    <app-quote></app-quote>
    <app-homepage-net></app-homepage-net>
    <app-articles-preview></app-articles-preview>
</div>

