#container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.person{
    max-width: 30%;
    min-width: 20em;
    align-items: center;
    text-align: center;
}
.profileImage{
    width: 15em;
}

.role{
    font-weight: bold;
    font-style: italic;
    font-size: 1.2em;
}

.name{
    color: var(--main-color);
    font-weight: 900;
    
    text-transform: uppercase;
}
.bio{
    padding: 1em;
}

.studio{
    width: 100%;
    display: flex;
    padding: 3%;
    align-items: center;
    justify-content: space-evenly;
}

.studio .bio{
    max-width: 50em;
}
.studio img{
    height: 20em;
    background: linear-gradient(180deg, transparent 20%, var(--blue) 0%);

}
.textBox{
    padding:2%;
}

#title{
    color: var(--main-color);
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    font-size: 2em;
}