
<div id="container">
    <h1 id="title">CHI SIAMO</h1>
    <div class="studio">
        <img src="assets/images/studio.jpg" alt="">
        <div class="textBox">
            <h1 class="name">Lo studio</h1>
            <p class="bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris id dui egestas, 
                convallis magna vitae, dictum mauris. Aenean ultricies elit ex, vitae dictum 
                lorem pharetra sit amet. Praesent sit amet tempor est. Cras pellentesque purus 
                orci, sit amet tempor arcu cursus in. Aenean vestibulum eu risus et venenatis. 
                Fusce sem orci, consectetur id iaculis bibendum, hendrerit id nibh. Nullam eu 
                ligula molestie, facilisis tortor volutpat, pretium nulla. Ut gravida nisl posuere lacus posuere, 
                ultrices semper ipsum condimentum. Sed vel quam quis ante efficitur egestas. Mauris nec mi at sapien congue pe</p>
        
        </div>

    </div>
    <div class="person">
        <img class="profileImage" src="assets/images/luciano.png" alt="">
        <h1 class="name">Luciano Schiavon</h1>
        <h4 class="role">Architetto</h4>
        <p class="bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris id dui egestas, 
            convallis magna vitae, dictum mauris. Aenean ultricies elit ex, vitae dictum 
            lorem pharetra sit amet. Praesent sit amet tempor est. Cras pellentesque purus 
            orci, sit amet tempor arcu cursus in. Aenean vestibulum eu risus et venenatis. 
            Fusce sem orci, consectetur id iaculis bibendum, hendrerit id nibh. Nullam eu 
            ligula molestie, facilisis tortor volutpat, pretium nulla. Ut gravida nisl posuere lacus posuere, 
            ultrices semper ipsum condimentum. Sed vel quam quis ante efficitur egestas. Mauris nec mi at sapien congue pe</p>
    </div>
    <div class="person">
        <img class="profileImage" src="assets/images/lio.png" alt="">
        <h1 class="name">Aurelio Galfetti</h1>
        <h4 class="role">Architetto</h4>
        <p class="bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris id dui egestas, 
            convallis magna vitae, dictum mauris. Aenean ultricies elit ex, vitae dictum 
            lorem pharetra sit amet. Praesent sit amet tempor est. Cras pellentesque purus 
            orci, sit amet tempor arcu cursus in. Aenean vestibulum eu risus et venenatis. 
            Fusce sem orci, consectetur id iaculis bibendum, hendrerit id nibh. Nullam eu 
            ligula molestie, facilisis tortor volutpat, pretium nulla. Ut gravida nisl po
            Fusce sem orci, consectetur id iaculis bibendum, hendrerit id nntum. Sed vel quam quis ante efficitur egestas. Mauris nec mi at sapien congue pe</p>
    </div>
    <div class="person">
        <img class="profileImage" src="assets/images/valeria.png" alt="">
        <h1 class="name">Valeria Boscolo Chielon</h1>
        <h4 class="role">Manager</h4>
        <p class="bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris id dui egestas, 
            convallis magna vitae, dictum mauris. Aenean ultricies elit ex, vitae dictum 
            lorem pharetra sit amet. Praesent sit amet tempor est. Cras pellentesque purus 
            orci, sit amet tempor arcu cursus in. Aenean vestibulum eu risus et venenatis. 
            Fusce sem orci, consectetur id iaculis bibendum, hendrerit id nibh. Nullam eu 
            ligula molestie, facilisis tortor volutpat, pretium nulla. Ut gravida nisl posuere lacus posuere, 
            ultrices semper ipsum condimentum. Sed vel quam quis ante efficitur egestas. Mauris nec mi at sapien congue pe</p>
    </div>
</div>
