<div id="container">
    <div class="column" id="column1">
        <div class="card fadeIn">
            <div class="name">Quadra - Padova</div>
            <img class="projImage" src='assets/images/quadra.jpg' alt="net center">
        </div>
        <div class="card fadeIn" routerLink="/projects/netCenter">
            <div class="name">Net Center - Padova</div>
            <img class="projImage" src='assets/images/net2.jpg' alt="net center">
        </div>

        <div class="card fadeIn">
            <div class="name">Shine Residence - Jesolo</div>
            <img class="projImage" src='assets/images/shine.jpg' alt="net center">
        </div>
        <div class="card fadeIn">
            <div class="name">Progetto3</div>
            <img class="projImage" src='assets/images/proj3.png' alt="net center">
        </div>

    </div>
    <div class="column" id="column2">
        <div class="card fadeIn">
            <div class="name">Mother - Tokyo</div>
            <img class="projImage" src='assets/images/shine.jpg' alt="net center">
        </div>
        <div class="card  fadeIn">
            <div class="name">Progetto3</div>
            <img class="projImage" src='assets/images/proj4.png' alt="net center">
        </div>
        <div class="card fadeIn">
            <div class="name">Progetto4</div>
            <img class="projImage" src='assets/images/proj3.png' alt="net center">
        </div>    <div class="card fadeIn">
            <div class="name">Progetto1</div>
            <img class="projImage" src='assets/images/proj4.png' alt="net center">
        </div>
        
        <div class="card fadeIn">
            <div class="name">Shine Residence - Jesolo</div>
            <img class="projImage" src='assets/images/shine2.png' alt="net center">
        </div>
    </div>


</div>