<div id="container">

    
    <div id="infoBox">
        <h1 id="name">Net Center</h1>
        <div class="infoContainer">
            <div class="infoLabel">Cliente:</div>
            <div class="infoData">Giorgioni hotels</div>
        </div>
        <div class="infoContainer">
            <div class="infoLabel">Architetti:</div>
            <div class="infoData">LVL, F4</div>
        </div>
        <div class="infoContainer">
            <div class="infoLabel">Tipologia:</div>
            <div class="infoData">Abitazione </div>
        </div>
        <div class="infoContainer">
            <div class="infoLabel">Stato:</div>
            <div class="infoData">completata</div>
        </div>
        <div class="infoContainer">
            <div class="infoLabel">Data di inizio progettazione:</div>
            <div class="infoData">21 Giugno 1990</div>
        </div>
        <div class="infoContainer">
            <div class="infoLabel">Luogo:</div>
            <div class="infoData">Padova</div>
        </div>
        <div class="infoContainer">
            <div class="infoLabel">Costo:</div>
            <div class="infoData">tre goleador</div>
        </div>


    </div>

    <div id="imagesContainer" class="fadeIn">
        <img src='assets/images/netCenterPage/net1.jpg' alt="net">
        <img src='assets/images/netCenterPage/net2.jpg' alt="net">

        <img src='assets/images/netCenterPage/net3.jpg' alt="net">

        <img src='assets/images/netCenterPage/net4.jpg' alt="net">
        <img src='assets/images/netCenterPage/net5.jpg' alt="net">
        <img src='assets/images/netCenterPage/net6.jpg' alt="net">
    </div>


    <div id="explanation">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur et libero id nibh rhoncus mollis.
        Proin tincidunt interdum scelerisque. Donec vehicula justo nisi, eu molestie turpis imperdiet eu. Sed
        tincidunt, metus non porta pellentesque, urna est tincidunt nulla, iaculis facilisis libero mauris at
        nulla. Quisque vulputate ligula vel eleifend mattis. Quisque ullamcorper magna vel volutpat efficitur.
        Aliquam consectetur nulla non <b>spacef</b> dignissimaliquet sagittis. Cras molestie enim aliquet sapien luctus,
        quis
        suscipit enim posuere. Maecenas sed nunc mi. Mauris bibendum metus ut rhoncus volutpat. In nec odio
        elementum mauris suscipit molestie eu non libero. Quisque aliquam lorem quis mi faucibus, ac porta
        leo dignissim. Morbi varius dolor in quam congue, ut cursus massa rhoncus.
        <br>
        Nulla tempus sed mi ac posuere. Etiam bibendum porta elit, posuere suscipit felis elementum vitae.
        Aliquam volutpat fringilla turpis et imperdiet. Aliquam justo nulla, sagittis ut diam quis, mollis
        fringilla <b>sapien</b>. Donec rutrum leo a pharetra efficitur. Nunc rhoncus libero quis vulputate viverra. Nam
        quam
        neque, convallis sed dolor id, porta fringilla felis. Nam sit amet commodo mauris. Proin eu mi nec neque
        scelerisque interdum. Sed sed tortor sed ligula posuere luctus a sed turpis. Sed accumsan mauris sed erat
        sollicitudin pulvinar. Nulla egestas neque vel elit vehicula blandit. Cras vestibulum mauris at tortor faucibus,
        nec gravida neque semper. Integer quis arcu pulvinar, <b>dignissim</b> mauris sit amet, lacinia felis. Duis
        fermentum,
        lectus in tempus placerat, arcu libero sagittis est, ut venenatis risus ligula eu odio.
        <br>
        Duis a feugiat metus, at sagittis justo. Nunc pulvinar porta tempor. Suspendisse fermentum quam nunc, eu lacinia
        nisl semper id. Quisque tellus erat, imperdiet a lacus et, pulvinar hendrerit ex. Nullam non laoreet nunc.
        Quisque lobortis elit a vulputate sollicitudin. Etiam malesuada augue purus, non volutpat diam bibendum nec. In
        finibus arcu erat, in viverra nisi tristique nec. Morbi bibendum ex turpis, vitae varius velit volutpat nec.
        Maecenas lacus dui, tempus et scelerisque id, pharetra sit amet tortor.
    </div>

</div>