<div id="container">
    <div id="leftSection">
        <h1 id="title">Progetti celebri</h1>
        <div id="textSection">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac odio cursus,
            malesuada diam non, malesuada elit.
            Nunc porta neque vitae nunc facilisis placerat.
            Fusce sagittis elit vel ipsum egestas eleifend. Quisque nunc sem, </div>
        <button id="seeMore" class="mainButton">SCOPRI DI PIU' ></button>
    </div>
    <div id="rightSection">
        <img src='assets/images/net.png' alt="net center">
    </div>
</div>