<div id="container">
    <div id="leftSection">
        <h1 id="title">articoli su di noi</h1>
        <div id="textSection">Proin dui ligula, vestibulum at cursus non, fringilla id diam.
             Vivamus sed fringilla tortor, vel ultrices orci. Aliquam consectetur, turpis nec dignissim tincidunt, </div>
        <button id="seeMore" class="mainButton">SCOPRI DI PIU' ></button>
    </div>
    <div id="rightSection">
        <img src='assets/images/shine.png' alt="net center">
    </div>
</div>