<div id="container">
    <div id="titleContainer">
        <img src='assets/images/lavoraConNoi.png' alt="Galfetti e Schiavon in ufficio" class="fadeIn" id="lavoraConNoi">
        <h1 id="title">
            Lavora con Noi
        </h1>
    </div>
    <div id="textContainer">
        <p>Una delle nostre principali missioni è creare un ambiente di lavoro stimolante e
            accogliente ma ricco di professionalità e impegno.
            Noi di LVL siamo in continua crescita e quindi in continua 
            ricerca di giovani talentuosi e intraprendenti.
        </p><br>
        <p>Abbiamo numerose posizioni aperte che possono fare a caso tuo.
            Inviaci subito il tuo curriculum e in breve tempo ti contatteremo!</p>
    </div>

    <div id="emailContainer">
        <i class="material-icons email" >email</i>
        <a class="email"  href="mailto:studio@lvlarchitettura.com">studio@lvlarchitettura.com</a>
    </div>

</div>