<div id="container">
    <div id="leftSection">
        <h1 id="title">Scopri i membri di LVL</h1>
        <div id="textSection">La nostra storia e tutti i contatti per aggiungere assieme a voi un nuovo capitolo</div>
        <a id="seeMore" routerLink="/aboutUs" class="mainButton">CHI SIAMO ></a>
        <a id="seeMore" routerLink="/contact" class="mainButton">INFO E CONTATTI ></a>
    </div>
    <div id="rightSection">
        <img src='assets/images/lucianoSchiavonLioGalfetti.png' alt="fondatori" class="fadeIn">
    </div>
</div>