#container{
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top:10px;
}

#rightSection{
    
    margin: 0;
    box-sizing: content-box;
    height: fit-content;
}
#rightSection img{
    width: 40em;
    background: linear-gradient(180deg, transparent 30%, var(--yellow) 0%);
}
#leftSection{
    max-width: 30em;
}

#title{
    color: var(--main-color);
    text-transform: uppercase;
    font-weight: 900;
    text-align: right;
}

#leftSection #textSection{
    padding-right: 2em;
    text-align: right;
}

a{
    display: block;
    text-decoration: none;
    width: fit-content;
    margin:auto;
    margin-top:1em;
}


.fadeIn{
   -webkit-animation: fadeIn 1.2s both; /* Safari 4+ */
   -moz-animation: fadeIn 1.2s both; /* Fx 5+ */
   -o-animation: fadeIn 1.2s both; /* Opera 12+ */
   animation: fadeIn 1.2s both; /* IE 10+, Fx 29+ */
 } 
 
 @keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(+50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
  }
  