<h1 id="title" class="underlined">Pubblicazioni</h1>
<div id="container">
    <div class="articleContainer">
        <img class="artImage" src='assets/images/shine2.png' alt="net center">
        <div class="contentSection">
            <div class="name">SHINE RESIDENCE, UN'INTRINSECA COMPATIBILITÀ AMBIENTALE</div>
            <div class="tyoe"> <label>Tipologia:</label> Articolo</div>
            <div class="publisher"> <label> Pubblicato da:</label> The Plan</div>
            
            <a href="https://www.theplan.it/award-2020-housing/shine-residence-unintrinseca-compatibilit-ambientale-lvl-architettura"class="link">https://www.theplan.it/award-2020-housing/shine-residence-unintrinseca-compatibilit-ambientale-lvl-architettura</a>
        </div>
        <div class="date">21 agosto 2022</div>
    </div>

    <div class="articleContainer">
        <img class="artImage" src='assets/images/shine2.png' alt="net center">
        <div class="contentSection">
            <div class="name">SHINE RESIDENCE, UN'INTRINSECA COMPATIBILITÀ AMBIENTALE</div>
            <div class="tyoe"> <label>Tipologia:</label> Articolo</div>
            <div class="publisher"> <label> Pubblicato da:</label> The Plan</div>
            
            <a href="https://www.theplan.it/award-2020-housing/shine-residence-unintrinseca-compatibilit-ambientale-lvl-architettura"class="link">https://www.theplan.it/award-2020-housing/shine-residence-unintrinseca-compatibilit-ambientale-lvl-architettura</a>
        </div>
        <div class="date">21 agosto 2022</div>
    </div>
    <div class="articleContainer">
        <img class="artImage" src='assets/images/shine2.png' alt="net center">
        <div class="contentSection">
            <div class="name">SHINE RESIDENCE, UN'INTRINSECA COMPATIBILITÀ AMBIENTALE</div>
            <div class="tyoe"> <label>Tipologia:</label> Articolo</div>
            <div class="publisher"> <label> Pubblicato da:</label> The Plan</div>
            
            <a href="https://www.theplan.it/award-2020-housing/shine-residence-unintrinseca-compatibilit-ambientale-lvl-architettura"class="link">https://www.theplan.it/award-2020-housing/shine-residence-unintrinseca-compatibilit-ambientale-lvl-architettura</a>
        </div>
        <div class="date">21 agosto 2022</div>
    </div>
    <div class="articleContainer">
        <img class="artImage" src='assets/images/shine2.png' alt="net center">
        <div class="contentSection">
            <div class="name">SHINE RESIDENCE, UN'INTRINSECA COMPATIBILITÀ AMBIENTALE</div>
            <div class="tyoe"> <label>Tipologia:</label> Articolo</div>
            <div class="publisher"> <label> Pubblicato da:</label> The Plan</div>
            
            <a href="https://www.theplan.it/award-2020-housing/shine-residence-unintrinseca-compatibilit-ambientale-lvl-architettura"class="link">https://www.theplan.it/award-2020-housing/shine-residence-unintrinseca-compatibilit-ambientale-lvl-architettura</a>
        </div>
        <div class="date">21 agosto 2022</div>
    </div>
    <div class="articleContainer">
        <img class="artImage" src='assets/images/shine2.png' alt="net center">
        <div class="contentSection">
            <div class="name">SHINE RESIDENCE, UN'INTRINSECA COMPATIBILITÀ AMBIENTALE</div>
            <div class="tyoe"> <label>Tipologia:</label> Articolo</div>
            <div class="publisher"> <label> Pubblicato da:</label> The Plan</div>
            
            <a href="https://www.theplan.it/award-2020-housing/shine-residence-unintrinseca-compatibilit-ambientale-lvl-architettura"class="link">https://www.theplan.it/award-2020-housing/shine-residence-unintrinseca-compatibilit-ambientale-lvl-architettura</a>
        </div>
        <div class="date">21 agosto 2022</div>
    </div>
</div>