<h1 id="title" >Pubblicazioni</h1>
<div id="container">
    <a class="articleContainer fadeIn" href="https://www.theplan.it/award-2020-housing/shine-residence-unintrinseca-compatibilit-ambientale-lvl-architettura">
        <img class="artImage" src='assets/images/shine2.png' alt="net center">
        <div class="contentSection">
            <h1 class="name">SHINE RESIDENCE, UN'INTRINSECA COMPATIBILITÀ AMBIENTALE</h1>
            <div class="tyoe"> <label>Tipologia:</label> Articolo</div>
            <div class="publisher"> <label> Pubblicato da:</label> The Plan</div>
            
            <a href="https://www.theplan.it/award-2020-housing/shine-residence-unintrinseca-compatibilit-ambientale-lvl-architettura"class="link">https://www.theplan.it/award-2020-housing/shine-residence-unintrinseca-compatibilit-ambientale-lvl-architettura</a>
        </div>
        <div class="date">21 agosto 2022</div>
    </a>
    <a class="articleContainer fadeIn" href="https://isplora.com/it/Film/le-scale-della-complessita">
        <img class="artImage" src='assets/images/scale.png' alt="net center">
        <div class="contentSection">
            <h1 class="name">LE SCALE DELLA COMPLESSITÀ</h1>
            <div class="tyoe"> <label>Tipologia:</label>Cortometraggio e articolo</div>
            <div class="publisher"> <label> Pubblicato da:</label> Isplora Arch</div>
            
            <a href="https://isplora.com/it/Film/le-scale-della-complessita"class="link">https://isplora.com/it/Film/le-scale-della-complessita</a>
        </div>
        <div class="date">25 Febbraio 2016</div>
    </a>
    <a class="articleContainer fadeIn" href="https://www.youtube.com/watch?v=hXKo6YAZLho">
        <img class="artImage" src='assets/images/IRB.png' alt="net center">
        <div class="contentSection">
            <h1 class="name">Bellinzona Inaugurazione IRB Luciano Schiavon</h1>
            <div class="tyoe"> <label>Tipologia:</label> Video conferenza</div>
            <div class="publisher"> <label> Pubblicato da:</label> Fondazione IRB</div>
            
            <a href="https://www.youtube.com/watch?v=hXKo6YAZLho"class="link">https://www.youtube.com/watch?v=hXKo6YAZLho</a>
        </div>
        <div class="date">27 novembre 2021</div>
    </a>
    <a class="articleContainer fadeIn" href="https://www.youtube.com/watch?v=vk6O_0xpslA">
        <img class="artImage" src='assets/images/intervista.jpg' alt="net center">
        <div class="contentSection">
            <h1 class="name">Intervista a Luciano Schiavon - LVL ARCHITETTURA</h1>
            <div class="tyoe"> <label>Tipologia:</label> Video intervista</div>
            <div class="publisher"> <label> Pubblicato da:</label> Infoprogetto</div>
            
            <a href="https://www.youtube.com/watch?v=vk6O_0xpslA"class="link">https://www.youtube.com/watch?v=vk6O_0xpslA</a>
        </div>
        <div class="date">25 Febbraio 2016</div>
    </a>    

</div>